
*.class
*.code-workspace
Interface/InterfaceTec/nbproject/private/private.properties
/Interface/InterfaceTec/dist/
Interface/InterfaceTec/nbproject/private/private.properties
Interface/InterfaceTec/nbproject/project.properties
*.properties
Interface/InterfaceTec/nbproject/private/private.xml
Interface/InterfaceTec/nbproject/private/private.properties
Interface/InterfaceTec/nbproject/private/private.xml
*.xml
Interface/InterfaceTec/InterfaceTec.iml
Interface/InterfaceTec/nbproject/private/private.xml
Interface/InterfaceTec/nbproject/private/private.xml
Interface/InterfaceTec/nbproject/private/private.xml
